
td{
      background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);

}
.btn2{
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);

}
th{
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);

}